services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      no_cache: true
    env_file: .env
    ports:
      - '8080:8080'
    volumes:
      - ./secrets:/run/secrets:ro
    depends_on:
      - elasticsearch
      - postgres
      - redis
    networks:
      - app-network

  elasticsearch:
    image: 'docker.elastic.co/elasticsearch/elasticsearch:7.17.10'
    environment:
      - 'ELASTIC_PASSWORD=${ELASTIC_PASS}'
      - 'discovery.type=single-node'
      - 'xpack.security.enabled=false'
      - 'ES_JAVA_OPTS=-Xms512m -Xmx512m'
    ports:
      - "9201:9200"
      - "9301:9300"
    networks:
      - app-network

  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=${DB}'
      - 'POSTGRES_PASSWORD=${DB_PASS}'
      - 'POSTGRES_USER=${DB_USER}'
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network

  redis:
    image: 'redis:latest'
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data
    networks:
      - app-network

volumes:
  postgres-data:
  redis-data:

networks:
  app-network:
    driver: bridge
